html, body {
    margin: 0;
    padding: 0;
}


/*---> Home */
.main-container{
    height: 100vh;
    
}
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 13, 36); 
    width: 100%;
    margin-top: -20px;
    height:100px;

}   
.logo{
    width: 9%;
    display: flex;
    margin-top: -1px;
   
}
.menu-icon {
    display: block; 
}
 
 .menu {
        display: none;
        list-style: none;
        padding-bottom: 20px;
        margin-top: 30px;
    }

    .menu.active {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: rgb(14, 13, 36);
        z-index: 1;
        align-items: flex-start;
    }
.menu li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
.menu li {
    padding: 10px;
    margin-top: 10;  
    text-align: left; /* Allinea il testo a sinistra */
}


/* ___________________ */
 
.hamb{
    color: white;
    cursor: pointer;
    font-size: xx-large;
}


/* _______________________ */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.photo {
    width: 150px; 
    height: 150px;
    margin-top: 100px;
    border:solid 3px rgb(14, 13, 36);
    border-radius: 100%;

}

 .title{
    color: rgb(25, 93, 152);
    font-size:50px;
    display:flex;
    margin-bottom:50px;
    justify-content: center;
    margin-top:150px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7)

}
/*---> About */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aboutTitle{
  color: rgb(25, 93, 152);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom:40px;
}
    .description {
        font-family: 'Arial Narrow Bold', sans-serif;
        color: rgb(25, 93, 152);
        padding: 20px;
        max-width: 100%; /* Limita la larghezza massima */
        margin: 0 auto; /* Centra l'elemento */
        box-sizing: border-box; /* Evita che il padding e il bordo aumentino la larghezza */
    }
    

.skill{
    padding: 100px;
    color: rgb(25, 93, 152);
    text-align: center;
    
}
.hard-skill{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7) ;
}

.imgSkill img {
    padding-top: 50px;
    max-width: 100px; 
    margin: 5px; 
    
}
.btn-cv{
    padding: 10px 20px;
    background-color: #09417c;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 120px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/*---> Progetti */
.project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: rgb(25, 93, 152);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
   
   
}
.card .btn-primary {
    padding: 10px 20px;
    background-color: #09417c;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    width: 90px;
}
.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
  
}

.card-img-top{
    height:200px;
}




/*---> Contatti */
 .tit-cont{
    margin-bottom:80px;

}
.contattiTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    width: 600px;
    color: rgb(25, 93, 152);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7)
   
}
.project{
    padding-bottom:80px;
}

.contact-form {
    margin-top:50px;
    max-width: 350px;
    height: 620px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(14, 13, 36); 
    color: white;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    
}
.custom-shadow{
  box-shadow: 0px 5px 20px rgba(14, 13, 36, 0.7); 
  border-radius: 35px;
}

.user-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    height: 300px;
}

.input-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.details {
    font-weight: bold;
    margin-bottom: 5px;
    height: 40px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-textarea {
    margin-top: 10px;
    
}

.button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #09417c;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.contact-links {
    list-style: none; 
    padding: 0; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    padding: 40px;
    
}
.contact-links a {
    display: flex;
    flex-direction: row;
     align-items: center;
    text-decoration: none; 
    font-size: 30px;
    color: rgb(14, 13, 36);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
}

  

/*--->MediaQuery*/
/* DESKTOP */
@media screen and (min-width: 769px){
    input[type="submit"]:hover {
        background-color: #09417c;
    }
    .card .btn-primary:hover{
        background-color:rgb(14, 13, 36);
    }
    .card-img-custom{
        width: 100px;
        height: 100px;
        padding: 10px;
        margin-top: 20px;
}
.contact-links  a:hover{
    text-decoration: none; 
    color: #b3d2f3;

}
.contact-links  a:active{
    text-decoration: none; 
    color:#09417c;


}
.card .btn-primary:hover{
    text-decoration: none;  
    background-color: #b3d2f3;
    color: #09417c;
}
.card .btn-primary:active{
    text-decoration: none; 
    color:white;
    background-color: #0061c9;
}
  
.button input:hover{
    text-decoration: none;  
    background-color: #b3d2f3;
    color: #09417c;

}
    
.button input:active{
    text-decoration: none; 
    color:white;
    background-color: #0061c9;
}
.contact-links a:hover {
    color: #09417c; 
    transform: scale(1.4); 
}
    
/* MENU */
.menu {
    display: flex 
}

.menu-icon {
    display: none; /
}
.btn-cv:hover{
    text-decoration: none;  
    background-color: #b3d2f3;
}
.btn-cv:active{
    text-decoration: none; 
    color:#09417c;

}






}
/* MOBILE */
@media (max-width: 768px) {
    .container-card{
        display: flex;
      
        width: 350px;
    }
    .card{
        width: 350px;
        margin: 30px;
    }
.title{
    font-size: 25px;
}
.description{
    padding: 100px;

}
.description h3 {
    margin-left: 30px;
    font-size: 20px; /
}

    .main-container{
        overflow-y: auto;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    
    }

    .logo {

            width: 12%;
            display: flex;
    
            margin-top: 20px;
        }
       
        
    }
   
    
    .card-img-top{
        height: 300px;
    }
    

   




/* --->Footer */
.footer {
    display: flex;
    justify-content:center;
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(17, 16, 31);
    color: white;
    text-align: center;
    
}
